<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">SPORTHAL-PLANNER</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/sportshalls">Sporthallen</a></li>
        <li routerLinkActive="active"><a routerLink="/bookings">Boekingen</a>
        <li routerLinkActive="active"><a routerLink="/employees">Personeel</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="/login">Log in</a></li>
        <li
          class="dropdown"
          appDropdown>
          <a style="cursor: pointer" class="dropdown-toggle">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer">Save data</a></li>
            <li><a style="cursor: pointer">Fetch data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
