<a class="list-group-item clearfix"
   style="cursor: pointer">
  <div class="pull-left">
    <p class="list-group-item-text">Datum:{{ booking.date | date: 'shortDate' }}</p>
    <p class="list-group-item-text">Starttijd: {{ booking.startTime | date: 'shortTime' }} - Eindtijd: {{ booking.endTime | date: 'shortTime'}}</p>
    <p class="list-group-item-text">Sporthal: {{ booking.hall.name }} - Zaal ({{ booking.room.roomNumber }})</p>
    <p class="list-group-item-text">Activiteit: {{ booking.activity.name }}</p>
  </div>
  <span class="pull-right">
     <button
     (click)="onDetail()">
        Bekijk boeking
     </button>
  </span>
</a>
<br>
