<a class="list-group-item clearfix"
   style="cursor: pointer">
  <div class="pull-left">
    <p class="list-group-item-text">Starttijd: ({{ booking.startTime }}) - Eindtijd: ({{ booking.endTime}})</p>
    <p class="list-group-item-text">Sporthal: {{ booking.sportsHallName }} - Zaal ({{ booking.room }})</p>
    <p class="list-group-item-text">Activiteit: {{ booking.activity }}</p>
    <p class="list-group-item-text">Gereserveerd door: {{ booking.customerName }}</p>
  </div>
  <span class="pull-right">
     <button>
        Bekijk boeking
     </button>
  </span>
</a>
<br>
