<h4>Filter een datum</h4>
<div class="container">
  <div class="col-xs-2">
    <div class="container" id="textBeginCointainer">
      <b>Begin datum:</b>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="container" id="textEindCointainer">
      <b>Eind datum:</b>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-xs-2">
    <div class="container">
      <input type="date">
    </div>
  </div>
  <div class="col-xs-2">
    <div class="container" id="EindDateContainer">
      <input type="date">
    </div>
  </div>
  <div class="col-xs-4">
    <div class="container" id="filterKnopId">
      <button class="btn btn-primary btn-xs"><b>Filter</b></button>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-maintenance-item
      *ngFor="let maintenanceEl of maintenances; let i of index"
      [maintenance]="maintenanceEl"
      [index]="i">
    </app-maintenance-item>
  </div>
</div>
