<a class="list-group-item clearfix"
   style="cursor: pointer">
  <div class="pull-left">
    <p class="list-group-item-text"><b>Datum:</b> {{ maintenance.date | date: 'shortDate'}}</p>
    <p class="list-group-item-text"><b>Starttijd:</b> {{maintenance.startTime}} - Eindtijd: {{maintenance.endTime}}</p>
    <p class="list-group-item-text"><b>Type Onderhoud:</b> {{maintenance.maintenanceType}}</p>
    <p class="list-group-item-text"><b>Object:</b> {{maintenance.maintenanceObject}}</p>
    <p class="list-group-item-text"><b>Beschrijving:</b> {{maintenance.description}}</p>
  </div>
</a>
