<h4>Filter een datum</h4>
<div class="container">
  <div class="col-xs-2">
    <div class="container" id="textBeginCointainer">
      <b>Begin datum:</b>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="container" id="textEindCointainer">
      <b>Eind datum:</b>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-xs-2">
    <div class="container">
      <input type="date">
    </div>
  </div>
  <div class="col-xs-2">
    <div class="container" id="EindDateContainer">
      <input type="date">
    </div>
  </div>
  <div class="col-xs-4">
    <div class="container" id="filterKnopId">
      <button class="btn btn-primary btn-xs"><b>Filter</b></button>
    </div>
  </div>
</div>
<hr>
<a class="list-group-item clearfix"
   style="cursor: pointer">
  <div class="pull-left">
    <p class="list-group-item-text"><b>Datum:</b> 24-04-2018</p>
    <p class="list-group-item-text"><b>Starttijd:</b> {{maintenance.startTime}} - Eindtijd: {{maintenance.endTime}}</p>
    <p class="list-group-item-text"><b>Type Onderhoud:</b> Faciliteit</p>
    <p class="list-group-item-text"><b>Object:</b> Douches</p>
    <p class="list-group-item-text"><b>Beschrijving:</b> Vloer schoonmaken</p>
  </div>
</a>
<a class="list-group-item clearfix"
   style="cursor: pointer">
  <div class="pull-left">
    <p class="list-group-item-text"><b>Datum:</b> 25-04-2018</p>
    <p class="list-group-item-text"><b>Starttijd:</b> 16:00 - Eindtijd: 20:00</p>
    <p class="list-group-item-text"><b>Type Onderhoud:</b> Faciliteit</p>
    <p class="list-group-item-text"><b>Object:</b> Kantine</p>
    <p class="list-group-item-text"><b>Beschrijving:</b> Vloer schoonmaken</p>
  </div>
</a>
<br>
