<div class="row">
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ hall.name }}</h1>
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Beheer sporthal <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="editTimes()">Wijzig openingstijden</a></li>
        <li><a style="cursor: pointer;" (click)="onMaintenance()">Onderhoudsoverzicht</a></li>
        <li><a style="cursor: pointer;" (click)="onStaffSchedule()">Planning personeel</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Description</h4>
    {{ hall.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h2>Boekingen vandaag</h2>
    <button type="button" class="btn btn-primary btn-sm" (click)="onSchedule()">Totaal overzicht boekingen</button>
    <br>
    <br>
    <div class="col-xs-8">
      <app-booking-item *ngFor="let booking of bookings" [booking]="booking"></app-booking-item>
    </div>
    <div class="col-xs-6" *ngIf="bookings?.length === 0">
      <h4>Geen boekingen gevonden!</h4>
    </div>
  </div>
  <div class="col-xs-6">
    <h2>Opkomende sluitingsdagen</h2>
    <button type="button" class="btn btn-primary btn-sm" (click)="onClosingDay()">Nieuwe sluitingsdag</button>
    <br>
    <br>
    <div class="col-xs 6">
      <app-closing-time-item *ngFor="let closingDay of closingDays" [closingDay]="closingDay"></app-closing-time-item>
    </div>
    <div class="col-xs-6" *ngIf="closingDays?.length === 0">
      <h4>Geen sluitingsdagen gevonden!</h4>
    </div>
  </div>
</div>
