<div class="row">
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ hall.name }}</h1> <button type="button" class="btn btn-primary" (click)="editTimes()">Wijzig openingstijden</button>
    <button type="button" class="btn btn-primary" (click)="onMaintenance()">Onderhouds overzicht</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Description</h4>
    {{ hall.description }}
  </div>
</div>
<div class="row">
  <h2>Opkomende boekingen</h2>
  <div class="col-xs-8">
  <app-booking-item *ngFor="let booking of bookings" [booking]="booking"></app-booking-item>
  </div>
  <div class="col-xs-6" *ngIf="bookings?.length === 0">
    <h4>Geen boekingen gevonden!</h4>
  </div>
</div>
